<h1>Game</h1>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    Player name : {{::$ctrl.pseudo}} - Remaining try : {{$ctrl.chances}}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="hidden-word">{{$ctrl.getHiddenWord()}}</div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form name="gameForm" ng-submit="$ctrl.findLetter(gameForm)" novalidate>
      <div class="form-group">
        <label>Seize a letter :</label>
        <div class-"col-md-2">
          <input type="text" maxlength="1" ng-model="$ctrl.letter" ng-required="true" ng-pattern="/^[A-Za-z]$/" class="letter-input form-control" placeholder="Lettre" />
        </div>
        <div class="text-center padding">
          <p class="text-error" ng-show="gameForm.$invalid && gameForm.submited">Letter field is required and can only accept alpha format.</p>
        </div>
        <br/>
        <button class="btn btn-default" type="submit">Valider</button>
      </div>
    </form>
  </div>
</div>
